@mixin dFlexCenter($width,$height) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: $height;
}

@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin ipad {
    @media (max-width:768px) {
        @content
    }
}

@mixin iphone {
    @media (max-width:568px) {
        @content
    }
}